<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Weather App</title>
</head>
<body>
  <h2 id="welcome">{{title}}</h2>
  <form id="form1">
    <div class="inp">
      <input type="text" placeholder="Enter Country name" id="address" />
      <button type="submit">Search for weather</button>
    </div>
    <p id="location"></p>
    <p id="forecast"></p>
    <p id="longitude"></p>
    <p id="latitude"></p>
    <p id="error"></p>
  </form>
  <script src="/js/script.js"></script>
</body>
</html>
